folium
gdown
huggingface-hub
matplotlib
numpy
opencv-python-headless
pandas
requests
scikit-learn
streamlit == 1.33.0
streamlit-aggrid
streamlit-folium
tensorflow
torch
ultralytics == 8.2.1
xarray
simplekml
